.supl-loader {
	border: 3px solid rgba(200, 200, 200, 0.7);
	border-top: 3px solid rgba(66, 66, 66, 0.5);
	border-radius: 50%;
	width: 18px;
	height: 18px;
	margin: 5px;
	animation: spin 1s linear infinite;
}
