.mtrt-admin-wrapper {
	.mtrt-logo,
	.mtrt-admin-title h1 {
		display: inline-block;
		vertical-align: middle;
	}
	#ban-lovely-monkey {
		width: 100px;
		height: auto;
		display: inline-block;
		vertical-align: middle;
	}
}
